* {
  box-sizing: border-box;
}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 1s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
    text-align: center;
}
.highlight {
  background: #f5f5f5;
}
.disabled {
  background: #d7d7d7 !important;
  cursor: not-allowed !important;
}
#customizable-dropdown {
  border: 1px solid #f5f5f5;
}
.dp {
  display: inline-block;
  float: left;
  height: 30px;
  width: 100%;
  background: white;
  position: relative;
}
.dp__input {
  height: 100%;
  float: left;
  display: inline-block;
  width: 100%;
  padding: 5px;
  margin: 0;
  border-width: 0;
  outline: none;
  background: #ffffff;
  font-size: 12px;
}
.dp__selectedInput {
  float: left;
  display: inline-block;
  background: #fff;
  height: 100%;
  max-width: 50%;
  white-space: nowrap;
  overflow-x: auto;
}
.multiselect__item {
  height: 100%;
  display: inline-block;
  margin-right: 5px;
}
.multiselect__item span {
  height: 100%;
  max-width: 100px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  background: #2196F3;
  box-shadow: 0 0 3px #2196F3;
  color: #fff;
  padding-right: 5px;
}
.multiselect__item span button {
  display: inline-block;
  margin-right: 5px;
  background: transparent;
  height: 100%;
  border: 0;
  color: #fff;
  cursor: pointer;
}
.dp__clear {
  position: absolute;
  height: 100%;
  right: 0px;
  background: transparent;
  border: 0;
  color: #cccccc;
  cursor: pointer;
  outline: none;
}
.dp__clear span {
  padding: 0px 5px;
  font-size: 12px;
  display: inline-block;
}
.arrow_down {
  transform: rotate(90deg);
}
.dp__list {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #e7e7e7;
  top: 100%;
  max-height: 200px;
  overflow-x: auto;
}
.dp__list ul {
  padding: 0;
  list-style: none;
  margin: 0;
  text-align: left;
}
.dp__list ul li {
  padding: 5px 10px;
  border-bottom: 1px solid #e7e7e7;
  white-space: nowrap;
  overflow: none;
  text-overflow: ellipsis;
  text-align: left;
}
.dp__list ul li a {
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: left;
}
.dp__list ul li:last-child {
  border: 0;
}
.dp__list ul li a {
  text-decoration: none;
  color: #2196F3;
}
.list__selected {
  float: right;
  color: #ccc;
  font-size: 12px;
  font-style: italic;
}
