* {
  box-sizing: border-box;
}
.dp {
  display: inline-block;
  float: left;
  height: 100%;
  width: 100%;
  overflow: none;
  background: transparent;
  position: relative;
}
.dp input {
  height: 100%;
  float: left;
  width: 100%;
  padding: 3px 10px;
  margin: 0;
  border-width: 0;
  border: 0;
  outline: none;
  background: #ffffff;
}
.dp__list {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #e7e7e7;
  top: 100%
}
.dp__list ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.dp__list ul li {
  padding: 5px 10px;
  border-bottom: 1px solid #e7e7e7;
}
.dp__list ul li a {
  display: block;
  width: 100%;
  cursor: pointer;
}
.dp__list ul li:last-child {
  border: 0;
}
.dp__list ul li a {
  text-decoration: none;
  color: #2196F3;
}
